body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9fafb; /* Lichtgrijze achtergrond */
}

h1, h2, p {
  color: #333;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #f1f1f1;
}
